# Libraries

In [1]:
# importing libraries
import pandas as pd
import requests
from urllib.request import urlretrieve as retrevie

# TGE.pl

In [2]:
# downloading data and saving as csv file
url = 'https://tge.pl/energia-elektryczna-rdn'
df0 = pd.read_html(url)[2]
df0.columns = [f'{x[0]}_{x[1]}' if x[1] else x[0] for x in df0.columns] # Concatenate the headers from two levels of the MultiIndex
df0.rename(columns={"Unnamed: 0_level_0_Czas": "Czas"}, inplace=True)
df0.to_csv("TGE_data.csv")
df0.head(5)

,Czas,FIXING I_Kurs (PLN/MWh),FIXING I_Wolumen (MWh),FIXING II_Kurs (PLN/MWh),FIXING II_Wolumen (MWh),Notowania ciągłe_Kurs (PLN/MWh),Notowania ciągłe_Wolumen (MWh)
0,0-1,39026.0,31683,38076.0,6688,-,0
1,1-2,39000.0,30129,37028.0,6059,-,0
2,2-3,39000.0,3184,38076.0,5961,-,0
3,3-4,39000.0,30965,37583.0,6072,-,0
4,4-5,39000.0,3077,38080.0,4893,-,0

# PSE.pl

In [3]:
# defining variables
data_od = "20230205"
data_do = "20230206"
url1 = f"https://www.pse.pl/getcsv/-/export/csv/PL_GEN_MOC_JW_EPS/data_od/{data_od}/data_do/{data_do}"
url2 = f"https://www.pse.pl/getcsv/-/export/csv/PL_WYK_KSE/data_od/{data_od}/data_do/{data_do}"
filename1 = f"PL_GEN_MOC_JW_od_{data_od}_do_{data_do}.csv"
filename2 = f"PL_WYK_KSE_od_{data_od}_do_{data_do}.csv"
urls_to_download = [url1, url2]
files_to_download = [filename1, filename2]

In [4]:
# saving csv files with data
for url, file in zip(urls_to_download, files_to_download):
    retrevie(url=url, filename=file)

In [5]:
# storing data into two dataframes
df1 = pd.read_csv(f"./{filename1}", sep=";", decimal=",", encoding="cp1250")
df2 = pd.read_csv(f"./{filename2}", sep=";", decimal=",", encoding="cp1250")

In [6]:
# quick look at the numbers
df1.head(5)

,Doba,Data publikacji,Kod,Nazwa,Tryb pracy,1,2,3,4,5,...,15,16,17,18,19,20,21,22,23,24
0,20230205,20230206122539,BEL 2-02,Bełchatów B02,Generacja,111.6,0.0,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,20230205,20230206122539,BEL 2-03,Bełchatów B03,Generacja,232.9,297.6,257.90,314.10,324.9,...,212.90,233.40,328.70,327.70,323.60,323.70,330.20,332.90,328.40,332.90
2,20230205,20230206122539,BEL 2-04,Bełchatów B04,Generacja,0.0,0.0,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,20230205,20230206122539,BEL 2-05,Bełchatów B05,Generacja,352.3,352.4,352.80,352.30,352.2,...,327.50,352.00,351.70,351.30,351.30,351.10,351.70,351.80,351.90,328.60
4,20230205,20230206122539,BEL 4-06,Bełchatów B06,Generacja,279.9,193.6,223.67,344.73,365.4,...,315.31,344.98,368.08,369.27,368.54,368.75,369.67,369.48,369.33,369.29

In [7]:
# quick look at the numbers
df2.head(5)

,Data,Godzina,Krajowe zapotrzebowanie na moc,Sumaryczna generacja JWCD,Sumaryczna generacja nJWCD,Krajowe saldo wymiany międzysystemowej równoległej,Krajowe saldo wymiany międzysystemowej nierównoległej
0,2023-02-05,1,16664.888,9837.463,7017.188,-954.238,901.950
1,2023-02-05,2,16178.838,9690.425,6819.038,-984.163,919.925
2,2023-02-05,3,15860.288,9580.663,6649.625,-879.588,919.650
3,2023-02-05,4,15789.025,10376.300,6394.238,-1486.763,920.388
4,2023-02-05,5,15888.325,10590.025,6083.525,-1295.988,920.600